In [1]:
# Operators

print(1 + 2)
print(+2)
print(-2)

3
2
-2

In [3]:
print( 1/2 )
print( 1//2 )
print( 1//2.0 )

0.5
0
0.0

In [4]:
print( 5%2 )
print( 2%5 )

1
2

In [12]:
print( 2*3 )
print( 2**3 )
print( 2**-2 )
print( (-2)**2 )
print( -(2**2) )
print( -2**2 )

6
8
0.25
4
-4
-4

In [18]:
print( 1 > 2 )
print( 1 >= 2 )
print( 2 > 2 )
print( 2 >= 2 )
print( 2 >= 1 )
x = 10
y = 20
print( x < y )
print( x == y )
print( x != y )
x = y
#print( x = y )

False
False
False
True
True
True
False
True

In [21]:
x = 10
x = x + 1
print(x)
x += 1
print(x)
x *= 2
print(x)

11
12
24

### Input

In [25]:
s = input('enter something : ')
print("You entered : ", s)

enter something : abcd
You entered :  abcd

### Type conversion in python

In [29]:
x = int()
f = float()
b = bool()
s = str()
print(x, f, b, s)
print(repr(s))

s = """ab
cd"""
print(repr(s))

0 0.0 False
''
'ab\ncd'

In [34]:
x = int(10)
print(x)
x = int(10.5)
print(x)
x = int('10')
print(x, type(x))
print('10', type('10'))

10
10
10 <class 'int'>
10 <class 'str'>

In [35]:
x = str(10)
print(x, type(x))
x = str(10.5)
print(x, type(x))

10 <class 'str'>
10.5 <class 'str'>

In [41]:
print( int(10.5) )
print( float('10.5') )
print( float('10') )
print( int('10.5') )

10
10.5
10.0

ValueError: invalid literal for int() with base 10: '10.5'

In [42]:
print( int('a') )

ValueError: invalid literal for int() with base 10: 'a'

In [45]:
n1 = int( input("Enter a number: ") )
print( n1 ** 2)

Enter a number: -99
9801

In [46]:
n1 = input("Enter a number :")
n2 = input("Enter a second number :")
print ( int(n1) + int(n2) )

Enter a number :10
Enter a second number:20
30